/* Typography */

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.8rem;
}

p,
a,
label {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* General layout organization */

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  p,
  a,
  label {
    font-size: 1.8rem;
  }
}
