/* Typography */

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.8rem;
}

p,
a,
label {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.logo {
  width: 100px;
  height: 40px;
}

.main-button {
  width: 200px;
  line-height: 44px;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  background-color: var(--blue);
  color: var(--soft-blue);
}

.main-button:hover {
  background-color: var(--dark-blue);
  cursor: pointer;
}

/* General layout organization */

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  p,
  a,
  label {
    font-size: 1.8rem;
  }

  .logo {
    width: 360px;
    height: 144px;
  }
}
