@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --yellow: #fbd914;
  --blue: #0058a3;
  --dark-blue: #003460;
  --light-gray: #e2e1e2;
  --dark-gray: #a9a9a8;
  --accent-red: #a34448;
  --soft-blue: #f8fcff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: var(--soft-blue);
  box-sizing: border-box;
  min-height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  object-fit: cover;
}
