.intro-screen-container {
  max-width: 1080px;
  height: fit-content;
  text-align: center;
  align-content: space-around;
  margin: 0 auto;
  padding: 2rem;
}

.intro-logo {
  width: 100px;
  height: 40px;
}

.intro-image {
  width: 270px;
  height: 200px;
  padding: 1rem 0;
}

.intro-title {
  padding-bottom: 1.6rem;
}

.intro-paragraph {
  padding: 1rem 0.4rem 2rem 0.4rem;
  text-align: left;
}

.intro-link-button {
  width: 200px;
  line-height: 44px;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  background-color: var(--blue);
  color: var(--soft-blue);
}

.intro-link-button:hover {
  background-color: var(--dark-blue);
  cursor: pointer;
}

@media (min-width: 600px) {
  .intro-screen-container {
    margin: 5rem auto;
  }

  .intro-logo {
    width: 360px;
    height: 144px;
  }

  .intro-image {
    width: 360px;
    height: 270px;
    padding: 1rem 0;
  }

  .intro-paragraph {
    margin: 0 10%;
    text-align: center;
  }

  .intro-link-button {
    margin-top: 5rem;
  }
}
